# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\Harpreet Kaur\Downloads\Color-Rush-Java-Project-Using-ML--master\Color-Rush-Java-Project-Using-ML--master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
